	
	
	/*////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////// Flickr Bar ////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////*/
	
	
	.flickr-wrapper {
		
		position: relative; padding: 100px 0;
		
		background: rgb(254,254,254); /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 24%, rgba(247,245,235,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(24%,rgba(254,254,254,1)), color-stop(100%,rgba(247,245,235,1))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 24%,rgba(247,245,235,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 24%,rgba(247,245,235,1) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 24%,rgba(247,245,235,1) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(254,254,254,1) 24%,rgba(247,245,235,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f7f5eb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		
		color: #302C3A;
		background-repeat: no-repeat;
		background-size: cover;
		
	}
	

	.flickr-wrapper h2 { font-size: 3em; font-family: 'Roboto', Helvetica, Arial; }	
	.flickr-wrapper .strap { font-weight: 300; width: 50%; }
	.flickr-wrapper a { color: rgba(0,0,0,0.8); }
	
	.flickr-preloader { 
		width: 32px; height: 32px;
		position: fixed; left: 50%; top: 50%; margin-left: -16px; margin-top: -16px; display: none;
	}
	
	
	.flickr-camera,
	.flickr-camera-full {
		
		width: 300px; height: 225px; position: absolute; top: -30px; right: 20px;
		background: url('../img/dslr-black.png') no-repeat -300px 0;
		text-indent: -999em; opacity: 0.4;
		
		-webkit-transition: all 0.3s ease 0.1s;
		-moz-animation: all 0.3s ease 0.1s;
		-ms-animation: all 0.3s ease 0.1s;
		-o-animation: all 0.3s ease 0.1s;
		animation: all 0.3s ease 0.1s;
	
	}
		
	.flickr-camera-full {
	
		background: url('../img/dslr-full.png') no-repeat 0 0;
		opacity: 0;

	}

	.cameras:hover .flickr-camera {
		-webkit-animation:none;
		-moz-animation:none;
		-ms-animation:none;
		-o-animation:none; 
		animation:none;
		
		opacity: 0;
	}
	
	.cameras:hover .flickr-camera-full {
		opacity: 0.9;
	}
	
	
	.flickr-feed { 
		position: relative; 
		margin: 50px 0 0; 
	}
	
	.flickr-feed .flickr-image-wrapper {  
	
		display: block; float: left; position: relative;
		width: 20%; height: 120px; opacity: 0.6;
		margin: 0; border: none;
		
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

	}
	.flickr-feed .flickr-image-wrapper:hover { 

		opacity: 1; 
		z-index: 60;

	}
	
	.flickr-feed .flickr-image-wrapper .flickr-image { 

		position: absolute; top:0; left:0; 
		border: none; width: 100%; height: 100%;
		background-repeat: no-repeat;
		background-position: center; background-color: black;
		border: 1px solid rgba(255,255,255,1);
		
		-webkit-filter: saturate(0.1);
		
		-webkit-transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		-ms-transition: all 0.1s ease;
		-o-transition: all 0.1s ease;
		transition: all 0.1s ease;

	}
	
	.flickr-feed .flickr-image-wrapper:hover .flickr-image { 
		-webkit-filter: saturate(0.6);
		width: 140%; height: 140%; left: -20%; top: -20%;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		border-color: #1bbc9d;
	}	
	
	
	@media screen and ( max-width: 1000px ) {
		
		.flickr-camera {
			
			top: 10px; right: -70px;
			
			-webkit-animation: none;
			-mox-animation: none;
			-ms-animation: none;
			-o-animation: none;
			animation: none;
		
		}
		
	}
	
	
	@media screen and ( max-width: 800px ) {
		.flickr-feed .flickr-image-wrapper { width: 33%; height: 100px; }
	}
	
	
	@media screen and ( max-width: 500px ) {
		.flickr-wrapper h2 { font-size: 2em; }
		.flickr-feed .flickr-image-wrapper { width: 50%; height: 100px; }
	}
	
	
	
	
	
	
	@-webkit-keyframes imagePan {

		0% { background-position: 0% 0%; }
		50% { background-position: 100% 100%; }

	}

	
	@-webkit-keyframes cameraBG {
		
		0% { background-position-x: -300px; }
		25% { background-position-x: -600px; }
		50% { background-position-x: -900px; }
		75% { background-position-x: 0px; }
		100% { background-position-x: -300px; }
		
	}
	
	@-moz-keyframes cameraBG {
		
		0% { background-position-x: -300px; }
		25% { background-position-x: -600px; }
		50% { background-position-x: -900px; }
		75% { background-position-x: 0px; }
		100% { background-position-x: -300px; }
		
	}
	
	@-ms-keyframes cameraBG {
		
		0% { background-position-x: -300px; }
		25% { background-position-x: -600px; }
		50% { background-position-x: -900px; }
		75% { background-position-x: 0px; }
		100% { background-position-x: -300px; }
		
	}
	
	@-o-keyframes cameraBG {
		
		0% { background-position-x: -300px; }
		25% { background-position-x: -600px; }
		50% { background-position-x: -900px; }
		75% { background-position-x: 0px; }
		100% { background-position-x: -300px; }
		
	}
	
	@keyframes cameraBG {
		
		0% { background-position-x: -300px; }
		25% { background-position-x: -600px; }
		50% { background-position-x: -900px; }
		75% { background-position-x: 0px; }
		100% { background-position-x: -300px; }
		
	}
	
	
	
	
	
	
	
	