	
	@import "normalize.min.css"; 
	@import "main.css";
	@import "animate-custom.css";
	
	@import "simey-animations.css";
	@import "simey-flickr-bar.css";



	/*////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////// BODY ////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////*/

	body, html { 
	
		color: #f5e1e2; font-size: 1.2em; 
		min-height: 1000px;
	
		background: #e85661;
		background: rgb(232,86,97);
		background: -moz-radial-gradient(center, ellipse cover,  rgba(232,86,97,1) 54%, rgba(206,72,74,1) 100%); 
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(54%,rgba(232,86,97,1)), color-stop(100%,rgba(206,72,74,1)));
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(232,86,97,1) 54%,rgba(206,72,74,1) 130%); 
		background: -o-radial-gradient(center, ellipse cover,  rgba(232,86,97,1) 54%,rgba(206,72,74,1) 100%); 
		background: -ms-radial-gradient(center, ellipse cover,  rgba(232,86,97,1) 54%,rgba(206,72,74,1) 100%); 
		background: radial-gradient(ellipse at center,  rgba(232,86,97,1) 54%,rgba(206,72,74,1) 130%); 
		
		background-repeat: no-repeat;
		background-size: 100% 130%;
		
		font-family: 'Roboto', Helvetica, Arial; 
		font-weight: 100;
		
		overflow-x: hidden;
		
		-webkit-transition: font-size 0.3s ease;
		-moz-transition: font-size 0.3s ease;
		-ms-transition: font-size 0.3s ease;
		-o-transition: font-size 0.3s ease;
		transition: font-size 0.3s ease;
		
	}
	
	h1,h2,h3,h4,h5 { font-family: 'Averia Sans Libre', Helvetica, Arial; font-weight: 100; }
	
	a { text-decoration: none; color: #FFEAEE; font-weight: 400; }
	
	strong 			{ font-weight: 400; }
	strong.more 	{ font-weight: 600; }
	strong.most 	{ font-weight: 800; }
	
	.no-margin-b	{ margin-bottom: 0; }
	.no-margin-t	{ margin-top: 0; }
	
	
	.simey-container { margin: auto; width: 1100px; padding: 0; position: relative; }
	
	
	/*////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////// Header ////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////*/
	
	
	.simey-header { min-height: 520px; position: relative; text-align: center; }
	.simey-header [class^=letter-] { text-indent: -999em; height: 280px; position: absolute; background-repeat: no-repeat; left: 50%; bottom: 120px; opacity: 0; }
	
	.simey-header .letter-s { width: 180px; background-image: url('../img/s.png'); margin-left: -325px; }
	.simey-header .letter-i { width: 124px; background-image: url('../img/i.png'); margin-left: -208px; }
	.simey-header .letter-m { width: 232px; background-image: url('../img/m.png'); margin-left: -151px; }
	.simey-header .letter-e { width: 206px; background-image: url('../img/e.png'); margin-left: 10px; }
	.simey-header .letter-y { width: 212px; background-image: url('../img/y.png'); margin-left: 140px; }
	
	.horizon-mask { position: absolute; bottom: 75px; width: 100%; height: 190px; background: url('../img/horizon.png') no-repeat top center; }
	.simey-is-doing { position: absolute; bottom: 80px; width: 100%; font-weight: 200; font-size: 2.2em; letter-spacing: -2px; display: none; cursor: pointer; }
	
	
	
	/*////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////// body ////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////*/
	
	.body { display: none; }


	/*////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////// about ////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////*/
	

	.simey-about { 
		margin: auto; padding: 40px 0 80px; width: auto; 
		background: #302C3A; 
		border-width: 20px 0; border-style: solid; 
		border-color: rgba(232, 86, 97, 0.47) white rgba(40, 131, 182,0.47); 
	}
	
	.simey-about-inner 	{}
	
	.simey-about h2,
	.simey-about h3 	{ font-family: 'Roboto', Helvetica, Arial; }
	
	.simey-about h2		{ font-size: 3em; line-height: 1; }
	.simey-about h3		{ font-size: 2em; font-weight: 400; line-height: 1;  }






	@media screen and ( max-width: 1300px ) {
		
		body,html { font-size: 1.15em; }
		.simey-container { width: 800px; }

	}

	@media screen and ( max-width: 1000px ) {
		
		body,html { background: #e85661; }
		.simey-container { width: 600px; }
		
	}

	@media screen and ( max-width: 800px ) {
		
		body,html { font-size: 1.02em; }
		.simey-container { width: 560px; }
		
	}

	@media screen and ( max-width: 600px ) {
	
		.simey-container { width: auto; padding: 20px; }

	}






	





		