	
	
	/*////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////// Flickr Bar ////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////*/
	
	
	.flickr-wrapper {
		
		position: relative; padding: 100px 0;
		
		background: rgb(254,254,254); /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 24%, rgba(247,245,235,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(24%,rgba(254,254,254,1)), color-stop(100%,rgba(247,245,235,1))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 24%,rgba(247,245,235,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 24%,rgba(247,245,235,1) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(254,254,254,1) 24%,rgba(247,245,235,1) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(254,254,254,1) 24%,rgba(247,245,235,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f7f5eb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		
		color: #302C3A;
		background-repeat: no-repeat;
		background-size: cover;
		
	}
	

	.flickr-wrapper h2 { font-size: 3em; font-family: 'Roboto', Helvetica, Arial; }	
	.flickr-wrapper .strap { font-weight: 300; width: 50%; }
	
	
	.flickr-preloader { 
		width: 32px; height: 32px;
		position: fixed; left: 50%; top: 50%; margin-left: -16px; margin-top: -16px; display: none;
	}
	
	
	.flickr-camera,
	.flickr-camera-full {
		
		width: 300px; height: 225px; position: absolute; top: -30px; right: 20px;
		background: url('../img/dslr-black.png') no-repeat -300px 0;
		text-indent: -999em; opacity: 0.4;
		
		-webkit-transition: all 0.3s ease 0.1s;
		-moz-animation: all 0.3s ease 0.1s;
		-ms-animation: all 0.3s ease 0.1s;
		-o-animation: all 0.3s ease 0.1s;
		animation: all 0.3s ease 0.1s;
	
	}
	
	.flickr-camera {
		
		-webkit-animation: cameraBG 6s steps(1) infinite;
		-moz-animation: cameraBG 6s steps(1) infinite;
		-ms-animation: cameraBG 6s steps(1) infinite;
		-o-animation: cameraBG 6s steps(1) infinite;
		animation: cameraBG 6s steps(1) infinite;		
		
	}
	
	.flickr-camera-full {
	
		background: url('../img/dslr-full.png') no-repeat 0 0;
		opacity: 0;

	}

	.cameras:hover .flickr-camera {
		-webkit-animation:none;
		-moz-animation:none;
		-ms-animation:none;
		-o-animation:none; 
		animation:none;
		
		opacity: 0;
	}
	
	.cameras:hover .flickr-camera-full {
		opacity: 0.9;
	}
	
	
	.flickr-close,
	.flickr-open {
		position: absolute; width: 40px; opacity: 0.1;
		background-repeat: no-repeat; background-position: center center; 
		-webkit-transition: opacity 0.4s ease; color: white; font-size: 24px; font-weight: 200;
	}
	.flickr-overlay:hover .flickr-close,
	.flickr-overlay:hover .flickr-open { opacity: 1; }

	.flickr-close { background-image: url('../img/close.png'); right : -10px; top: -40px; background-size: 20px; text-indent: -999em; overflow: hidden; }
	.flickr-open { left: -20px; top: -40px; width: 188px; }


	.flickr-feed { position: relative; margin: 50px 0 0; }
	.flickr-feed-inner { width:auto; overflow: hidden; z-index:1; margin-top: 30px; min-height: 360px; }
	
	.flickr-feed .image-wrapper,
	.flickr-feed .image-wrapper a { width: 132px; height: 132px; }
	
	.flickr-feed .image-wrapper {  
	
		display: inline-block; *display: inline; *zoom: 1; position: relative;
		margin: 0 20px 10px 0; border: 1px solid rgba(255,255,255,0.5); text-align: left;
		background: #B3B3B3;
		
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

	}
	.flickr-feed .image-wrapper:hover { opacity: 1; }
	
	.flickr-feed .image-wrapper a { 
		position: absolute; top:0; left:0; border: none; 
	}
	
	.flickr-feed .image-wrapper img { 
	
		position: absolute; border: none; 
		-webkit-filter: saturate(0);
		
		-webkit-transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		-ms-transition: all 0.1s ease;
		-o-transition: all 0.1s ease;
		transition: all 0.1s ease;
	}
	
	.flickr-feed .image-wrapper:hover img { -webkit-filter: none; }
	
	.flickr-feed img.fade { opacity: 0.3; }
	.flickr-feed img.fade:hover { opacity: 0.8; }


	
	.flickr-mask {
	
		position: fixed; width: 100%; height: 100%;
		top: 0; left: 0; display: none;
		background: black; opacity: 0.7; z-index: 9000;
	
	}
	
	.flickr-overlay {
		width: auto; top: 50%; left: 50%; margin-left: -16px; min-width: 32px; min-height: 32px;
		background: rgba(255,255,255,0.7); border-radius: 10px;
		text-align: center; position: fixed; z-index: 9999; display: none; opacity: 1;
	}
	.flickr-overlay-image { padding: 10px; display: block; }
	.flickr-overlay-image img { max-height: 430px; }
	
	
	
	
	
	
	
	@media screen and ( max-width: 1000px ) {
		
		.flickr-feed .image-wrapper,
		.flickr-feed .image-wrapper a { width: 122px; height: 122px; }
		
		.flickr-camera {
			
			top: 10px; right: -70px;
			
			-webkit-animation: none;
			-mox-animation: none;
			-ms-animation: none;
			-o-animation: none;
			animation: none;
		
		}
		
	}
	
	
	@media screen and ( max-width: 800px ) {
		
		.flickr-feed { margin: 40px 0; }
		.flickr-feed-inner { text-align: center; }
		
		.flickr-feed .image-wrapper { margin: 0 5px 7px; }
		
		.flickr-feed .image-wrapper,
		.flickr-feed .image-wrapper a { width: 84px; height: 84px; }
		
		.flickr-wrapper .strap { width: auto; }
		.flickr-camera { opacity: 0.2; }



		.flickr-feed img.fade { opacity: 0.7; }
		
		.flickr-close,
		.flickr-open { display: none; }

		.flickr-mask {
			position: fixed; width: 100%; height: 100%; top: 0; left: 0; 
			display: none; background: transparent; opacity: 0; z-index: 9999;
		}
		
		.flickr-overlay {
			position: fixed; width: 100%; height: 100%; top: 0; left: 0; 
			margin: 0; border-radius: 0; z-index: 9998; display: none; opacity: 1; background: transparent; 
		}
		.flickr-overlay-image { padding: 0; height: 100%; width: 100%;  }
		.flickr-overlay-image img { max-height: none; min-width: 100%; }


	}
	
	
	@media screen and ( max-width: 500px ) {

		.flickr-wrapper h2 { font-size: 2em; }
		
		
		.flickr-feed .image-wrapper  { width: 45%; height: auto; position: static; margin: 0 2% 12px; }
		.flickr-feed .image-wrapper a  { width: auto; height: auto; position: static; }
		.flickr-feed .image-wrapper img { position: static; width: 100%; }
	}
	
	
	
	
	
	
	
	
	
	@-webkit-keyframes cameraBG {
		
		0% { background-position-x: -300px; }
		25% { background-position-x: -600px; }
		50% { background-position-x: -900px; }
		75% { background-position-x: 0px; }
		100% { background-position-x: -300px; }
		
	}
	
	
	
	
	
	
	
	