	
	
	
	
	.simey-header.enter .letter-s {
	
		-webkit-animation: bounceInDown 2.2s ease; -webkit-animation-delay:2s; -webkit-animation-fill-mode: forwards;  
		   -moz-animation: bounceInDown 2.2s ease;    -moz-animation-delay:2s;    -moz-animation-fill-mode: forwards;  
			-ms-animation: bounceInDown 2.2s ease;     -ms-animation-delay:2s;     -ms-animation-fill-mode: forwards;  
			 -o-animation: bounceInDown 2.2s ease;      -o-animation-delay:2s;      -o-animation-fill-mode: forwards;  
				animation: bounceInDown 2.2s ease;         animation-delay:2s;         animation-fill-mode: forwards;  
				
	}
			
	.simey-header.enter .letter-i {
			
		-webkit-animation: bounceInDown 2.2s ease; -webkit-animation-delay:2.2s; -webkit-animation-fill-mode: forwards;  
		   -moz-animation: bounceInDown 2.2s ease;    -moz-animation-delay:2.2s;    -moz-animation-fill-mode: forwards;  
			-ms-animation: bounceInDown 2.2s ease;     -ms-animation-delay:2.2s;     -ms-animation-fill-mode: forwards;  
			 -o-animation: bounceInDown 2.2s ease;      -o-animation-delay:2.2s;      -o-animation-fill-mode: forwards;  
				animation: bounceInDown 2.2s ease;         animation-delay:2.2s;         animation-fill-mode: forwards;  
	
	}
			
	.simey-header.enter .letter-m {
			
		-webkit-animation: mem 4.2s ease; -webkit-animation-delay:0s; -webkit-animation-fill-mode: forwards;  
		   -moz-animation: mem 4.2s ease;    -moz-animation-delay:0s;    -moz-animation-fill-mode: forwards;  
			-ms-animation: mem 4.2s ease;     -ms-animation-delay:0s;     -ms-animation-fill-mode: forwards;  
			 -o-animation: mem 4.2s ease;      -o-animation-delay:0s;      -o-animation-fill-mode: forwards;  
				animation: mem 4.2s ease;         animation-delay:0s;         animation-fill-mode: forwards;  
	
	}
				
	.simey-header.enter .letter-e {
	
		-webkit-animation: mee 4s ease; -webkit-animation-delay:0.2s; -webkit-animation-fill-mode: forwards;  
		   -moz-animation: mee 4s ease;    -moz-animation-delay:0.2s;    -moz-animation-fill-mode: forwards;  
			-ms-animation: mee 4s ease;     -ms-animation-delay:0.2s;     -ms-animation-fill-mode: forwards;  
			 -o-animation: mee 4s ease;      -o-animation-delay:0.2s;      -o-animation-fill-mode: forwards;  
				animation: mee 4s ease;         animation-delay:0.2s;         animation-fill-mode: forwards;  
	
	}
			
	.simey-header.enter .letter-y {
			
		-webkit-animation: bounceInDown 2.2s ease; -webkit-animation-delay:2.1s; -webkit-animation-fill-mode: forwards;  
		   -moz-animation: bounceInDown 2.2s ease;    -moz-animation-delay:2.1s;    -moz-animation-fill-mode: forwards;  
			-ms-animation: bounceInDown 2.2s ease;     -ms-animation-delay:2.1s;     -ms-animation-fill-mode: forwards;  
			 -o-animation: bounceInDown 2.2s ease;      -o-animation-delay:2.1s;      -o-animation-fill-mode: forwards;  
				animation: bounceInDown 2.2s ease;         animation-delay:2.1s;         animation-fill-mode: forwards;  
	
	}
		
		
	.simey-header.hover .letter-s {
		-webkit-animation: reveal 0.3s ease;
		   -moz-animation: reveal 0.3s ease;
		    -ms-animation: reveal 0.3s ease;
		     -o-animation: reveal 0.3s ease;
		        animation: reveal 0.3s ease;
	}
		
	.simey-header.hover .letter-i {
		-webkit-animation: reveal 0.3s ease; -webkit-animation-delay: 0.1s;
		   -moz-animation: reveal 0.3s ease;    -moz-animation-delay: 0.1s;
		    -ms-animation: reveal 0.3s ease;     -ms-animation-delay: 0.1s;
		     -o-animation: reveal 0.3s ease;      -o-animation-delay: 0.1s;
		        animation: reveal 0.3s ease;         animation-delay: 0.1s;
	}
		
	.simey-header.hover .letter-m {
		-webkit-animation: reveal 0.3s ease; -webkit-animation-delay: 0.2s;
		   -moz-animation: reveal 0.3s ease;    -moz-animation-delay: 0.2s;
		    -ms-animation: reveal 0.3s ease;     -ms-animation-delay: 0.2s;
		     -o-animation: reveal 0.3s ease;      -o-animation-delay: 0.2s;
		        animation: reveal 0.3s ease;         animation-delay: 0.2s;
	}
		
	.simey-header.hover .letter-e {
		-webkit-animation: reveal 0.3s ease; -webkit-animation-delay: 0.3s;
		   -moz-animation: reveal 0.3s ease;    -moz-animation-delay: 0.3s;
		    -ms-animation: reveal 0.3s ease;     -ms-animation-delay: 0.3s;
		     -o-animation: reveal 0.3s ease;      -o-animation-delay: 0.3s;
		        animation: reveal 0.3s ease;         animation-delay: 0.3s;
	}
		
	.simey-header.hover .letter-y {
		-webkit-animation: reveal 0.3s ease; -webkit-animation-delay: 0.4s;
		   -moz-animation: reveal 0.3s ease;    -moz-animation-delay: 0.4s;
		    -ms-animation: reveal 0.3s ease;     -ms-animation-delay: 0.4s;
		     -o-animation: reveal 0.3s ease;      -o-animation-delay: 0.4s;
		        animation: reveal 0.3s ease;         animation-delay: 0.4s;
	}
		
		
	[class^=letter-] {
			
		-webkit-transition: -webkit-transform 0.1s ease;
		   -moz-transition: -moz-transform 0.1s ease;
		    -ms-transition: -ms-transform 0.1s ease;
		     -o-transition: -o-transform 0.1s ease;
		        transition: transform 0.1s ease;
		
	}
			
	[class^=letter-]:hover {
		
		-webkit-transform: translateY(-40px) ;	
		   -moz-transform: translateY(-40px) ;	
		    -ms-transform: translateY(-40px) ;	
		     -o-transform: translateY(-40px) ;	
		        transform: translateY(-40px) ;	
		
	}

	
	
	
	.flickr-feed:hover .flickr-arrow {
		
		-webkit-animation: flickr 0.8s ease forwards;
		   -moz-animation: flickr 0.8s ease forwards;
		    -ms-animation: flickr 0.8s ease forwards;
		     -o-animation: flickr 0.8s ease forwards;
		        animation: flickr 0.8s ease forwards;
		
	}
	
	
	
	
	.spinner {
		
		width: 32px; height: 32px;
		background: url('../img/preloader.png') no-repeat 0 0;
		-webkit-animation: spinner 4s linear infinite;
		
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	@-webkit-keyframes mem {
		  0% {	opacity: 0;		-webkit-transform: translateY( -2000px ); }
		 30% { 	opacity: 1; 	-webkit-transform: translateY( -100px ); }
		 75% { 					-webkit-transform: translateY( -120px ); }
		100% { 	opacity: 1; 	-webkit-transform: translateY(0) scale(1,1); }
	}
	@-moz-keyframes mem {
		  0% {	opacity: 0;		-moz-transform: translateY( -2000px ); }
		 30% { 	opacity: 1; 	-moz-transform: translateY( -100px ); }
		 75% { 					-moz-transform: translateY( -120px ); }
		100% { 	opacity: 1; 	-moz-transform: translateY(0) scale(1,1); }
	}
	@-ms-keyframes mem {
		  0% {	opacity: 0;		-ms-transform: translateY( -2000px ); }
		 30% { 	opacity: 1; 	-ms-transform: translateY( -100px ); }
		 75% { 					-ms-transform: translateY( -120px ); }
		100% { 	opacity: 1; 	-ms-transform: translateY(0) scale(1,1); }
	}
	@-o-keyframes mem {
		  0% {	opacity: 0;		-o-transform: translateY( -2000px ); }
		 30% { 	opacity: 1; 	-o-transform: translateY( -100px ); }
		 75% { 					-o-transform: translateY( -120px ); }
		100% { 	opacity: 1; 	-o-transform: translateY(0) scale(1,1); }
	}
	@keyframes mem {
		  0% {	opacity: 0;		transform: translateY( -2000px ); }
		 30% { 	opacity: 1; 	transform: translateY( -100px ); }
		 75% { 					transform: translateY( -120px ); }
		100% { 	opacity: 1; 	transform: translateY(0) scale(1,1); }
	}






	
	@-webkit-keyframes mee {
		  0% { 	opacity: 0; 	-webkit-transform: translateY( -2000px ); }
		 30% { 	opacity: 1; 	-webkit-transform: translateY( -100px ); }
		 75% { 					-webkit-transform: translateY( -120px ); }
		100% { 	opacity: 1; 	-webkit-transform: translateY(0) scale(1,1); }
	}
	@-moz-keyframes mee {
		  0% { 	opacity: 0; 	-moz-transform: translateY( -2000px ); }
		 30% { 	opacity: 1; 	-moz-transform: translateY( -100px ); }
		 75% { 					-moz-transform: translateY( -120px ); }
		100% { 	opacity: 1; 	-moz-transform: translateY(0) scale(1,1); }
	}
	@-ms-keyframes mee {
		  0% { 	opacity: 0; 	-ms-transform: translateY( -2000px ); }
		 30% { 	opacity: 1; 	-ms-transform: translateY( -100px ); }
		 75% { 					-ms-transform: translateY( -120px ); }
		100% { 	opacity: 1; 	-ms-transform: translateY(0) scale(1,1); }
	}
	@-o-keyframes mee {
		  0% { 	opacity: 0; 	-o-transform: translateY( -2000px ); }
		 30% { 	opacity: 1; 	-o-transform: translateY( -100px ); }
		 75% { 					-o-transform: translateY( -120px ); }
		100% { 	opacity: 1; 	-o-transform: translateY(0) scale(1,1); }
	}
	@keyframes mee {
		  0% { 	opacity: 0; 	transform: translateY( -2000px ); }
		 30% { 	opacity: 1; 	transform: translateY( -100px ); }
		 75% { 					transform: translateY( -120px ); }
		100% { 	opacity: 1; 	transform: translateY(0) scale(1,1); }
	}



	@-webkit-keyframes reveal {
		  0% { -webkit-transform: translateY(0); }
		 60% { -webkit-transform: translateY(-50px); }
		100% { -webkit-transform: translateY(0); }
	}
	@-moz-keyframes reveal {
		  0% { -moz-transform: translateY(0); }
		 60% { -moz-transform: translateY(-50px); }
		100% { -moz-transform: translateY(0); }
	}
	@-ms-keyframes reveal {
		  0% { -ms-transform: translateY(0); }
		 60% { -ms-transform: translateY(-50px); }
		100% { -ms-transform: translateY(0); }
	}
	@-o-keyframes reveal {
		  0% { -o-transform: translateY(0); }
		 60% { -o-transform: translateY(-50px); }
		100% { -o-transform: translateY(0); }
	}
	@keyframes reveal {
		  0% { transform: translateY(0); }
		 60% { transform: translateY(-50px); }
		100% { transform: translateY(0); }
	}




	@-webkit-keyframes flickr {
		0%, 100% {-webkit-transform: translateX(0);}
		20%, 60% {-webkit-transform: translateX(-20px);}
		40%, 80% {-webkit-transform: translateX(20px);}
	}
	@-moz-keyframes flickr {
		0%, 100% {-moz-transform: translateX(0);}
		20%, 60% {-moz-transform: translateX(-20px);}
		40%, 80% {-moz-transform: translateX(20px);}
	}
	@-ms-keyframes flickr {
		0%, 100% {-ms-transform: translateX(0);}
		20%, 60% {-ms-transform: translateX(-20px);}
		40%, 80% {-ms-transform: translateX(20px);}
	}
	@-o-keyframes flickr {
		0%, 100% {-o-transform: translateX(0);}
		20%, 60% {-o-transform: translateX(-20px);}
		40%, 80% {-o-transform: translateX(20px);}
	}
	@keyframes flickr {
		0%, 100% {transform: translateX(0);}
		20%, 60% {transform: translateX(-20px);}
		40%, 80% {transform: translateX(20px);}
	}
	
	
	
	
	@-webkit-keyframes spinner {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(3600deg); }
	}
	
	
	
	
	
	
	

