	
	@import "normalize.min.css"; 
	@import "main.css";
	@import "animate-custom.css";
	
	@import "simey-animations.css";
	@import "simey-flickr-bar.css";



	/*////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////// BODY ////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////*/

	body, html { 
	
		color: #333;
		font-size: 1.2em; 
		min-height: 1000px;
		background: #eee;
		
		font-family: 'Roboto', Helvetica, Arial; 
		font-weight: 100;
		
		overflow-x: hidden;
		
		-webkit-transition: font-size 0.3s ease;
		-moz-transition: font-size 0.3s ease;
		-ms-transition: font-size 0.3s ease;
		-o-transition: font-size 0.3s ease;
		transition: font-size 0.3s ease;
		
	}
	
	h1,h2,h3,h4,h5 { 

        font-family: 'Averia Sans Libre', Helvetica, Arial; 
        font-weight: 100; 

    }
	
	a { 

        text-decoration: none; 
        color: #FFEAEE; 
        font-weight: 400; 

    }
	
	strong 			{ font-weight: 400; }
	strong.more 	{ font-weight: 600; }
	strong.most 	{ font-weight: 800; }
	
	.no-margin-b	{ margin-bottom: 0; }
	.no-margin-t	{ margin-top: 0; }
	
	ul.stacky {

		list-style: square inside;
		margin: 0; padding: 0;

	}

	ul.stacky li {

		width: 48%; display: inline-block;
		border-bottom: 1px dotted rgba(0,0,0,0.2);
		border-left: 1px dotted rgba(0,0,0,0.2);
		text-indent: 10px; margin-top: 8px;
		padding: 4px 0; margin-left: 4px;

	}
	
	/*////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////// Social Font ////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////*/

	@font-face {

		font-family: 'simey-social';
		src:url('../font/simey-social.eot');
		src:url('../font/simey-social.eot?#iefix') format('embedded-opentype'),
			url('../font/simey-social.woff') format('woff'),
			url('../font/simey-social.ttf') format('truetype'),
			url('../font/simey-social.svg#simey-social') format('svg');
		font-weight: normal;
		font-style: normal;

	}
	
	[data-icon]:before {

		font-family: 'simey-social';
		content: attr(data-icon);
		speak: none;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;

	}
	
	.icon-facebook, 
	.icon-codepen, 
	.icon-twitter, 
	.icon-phone, 
	.icon-github, 
	.icon-flickr, 
	.icon-instagram, 
	.icon-envelope,
	.icon-eye, 
	.icon-heart {

		font-family: 'simey-social';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;

	}

	.icon-facebook:before {
		content: "\e000";
	}
	.icon-codepen:before {
		content: "\e001";
	}
	.icon-twitter:before {
		content: "\e002";
	}
	.icon-phone:before {
		content: "\e003";
	}
	.icon-github:before {
		content: "\e004";
	}
	.icon-flickr:before {
		content: "\e005";
	}
	.icon-instagram:before {
		content: "\e006";
	}
	.icon-envelope:before {
		content: "\e007";
	}	
	.icon-eye:before {
		content: "\e008";
	}	
	.icon-heart:before {
		content: "\e009";
	}
	
		
	
	/*////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////// Container ////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////*/


	.simey-container { 

        margin: auto; 
        width: 1100px; 
        padding: 0; 
        position: relative; 

    }
			
	.spinner { 

		width: 32px; height: 32px;
		position: fixed; 
		left: 50%; top: 50%; 
		margin-left: -16px; 
		margin-top: -16px; 
		display: none;

	}
    
    
    /*////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////// Nav ////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////*/
    
    nav {

        color: rgba(255,255,255,0.8);
        text-align: center;
    }

    nav ul {

        margin: 0.5em 0 0;
        padding: 0;

    }

    nav li {

        display: inline-block;
        margin: 0 1em;

    }
    
    /*////////////////////////////////////////////////////////////////////////////////////////////////////
    //////////////////// Header ////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////*/
	
	
	.simey-header { 

        color: white;
        background: #54b8bc;

        min-height: 600px; 
        position: relative; 
        text-align: center;

        overflow: hidden;

    }

	.simey-header h1 { 

        margin: 0; 

    }

	.simey-header [class^=letter-] {

        text-indent: -999em; 
        height: 280px; 
        position: absolute; 
        background-repeat: no-repeat; 
        left: 50%; 
        bottom: 36%; 
        opacity: 1; 

    }
	
	.simey-header .letter-s { width: 180px; background-image: url('../img/s.png'); margin-left: -325px; z-index: 5; }
	.simey-header .letter-i { width: 124px; background-image: url('../img/i.png'); margin-left: -208px; z-index: 4; }
	.simey-header .letter-m { width: 232px; background-image: url('../img/m.png'); margin-left: -151px; z-index: 3; }
	.simey-header .letter-e { width: 206px; background-image: url('../img/e.png'); margin-left: 10px;   z-index: 2;}
	.simey-header .letter-y { width: 212px; background-image: url('../img/y.png'); margin-left: 140px;  z-index: 1;}
	
	.horizon-mask { 

        position: absolute; 
        bottom: 36%; 
        width: 100%; 
        height: 190px; 
        margin-bottom: -50px; 
        background: url('../img/horizon.png') no-repeat top center; ;
    }

	.simey-is-doing { 

        position: absolute; 
        top: 64%; 
        margin-top: -90px; 
        width: 100%; 
        font-weight: 200; 
        font-size: 2.2em; 
        letter-spacing: -2px; 
        display: none; 
        cursor: pointer;
        text-shadow: 0 1px 2px rgba(0,0,0,0.8);
        z-index: 6

    }
	
	
	
	/*////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////// Contact ////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////*/
	
	.contact { 

        list-style: none;
        padding: 3em 0 0;
        margin: 0;
        position: absolute;
        bottom: -2em;
        width: 100%;
        height: 5em;

    }

	.contact li span { 

        position: absolute; 
        left: -999em; 
        top: -999em; 

    }

	.contact li a { 

        color: rgba(255,255,255,0.5);
        display: block; 
        width: 100%; 
        height: 100%; 
        line-height: 1.5em; 

    }

	.contact li {

		display: inline-block; 
        font-size: 1.45em; 
        width: 1.5em; 
        height: 1.5em; 
		border-radius: 100%; 
        margin: 0; 
        background: rgba(255,255,255,0.3);
		
		-webkit-transform: translate(0,1.25em) scale(0.8);
		-moz-transform: translate(0,1.25em) scale(0.8);
		-ms-transform: translate(0,1.25em) scale(0.8);
		-o-transform: translate(0,1.25em) scale(0.8);
		transform: translate(0,1.25em) scale(0.8);
	}

	.contact:hover li {

		margin: 0 .2em 0; 
		
		-webkit-transform: scale(1) translate(0,0);  
		-moz-transform: scale(1) translate(0,0);  
		-ms-transform: scale(1) translate(0,0);  
		-o-transform: scale(1) translate(0,0);  
		transform: scale(1) translate(0,0);  
	
	}
	
	.contact li:hover { background: transparent; }
	.contact li a:active,
	.contact li a:focus,
	.contact li:hover a { color: #302C3A; }
	
	.contact li,
	.contact li a {
	
		-webkit-transition: all 0.2s ease;
		   -moz-transition: all 0.2s ease; 
			-ms-transition: all 0.2s ease; 
			 -o-transition: all 0.2s ease; 
				transition: all 0.2s ease;
		
	}
	
	
	/*////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////// body ////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////*/
	
	.body {
		-webkit-transition: all 1s ease;
		   -moz-transition: all 1s ease; 
			-ms-transition: all 1s ease; 
			 -o-transition: all 1s ease; 
				transition: all 1s ease;
	}
	
	.body.hide { 
		opacity: 0; overflow: hidden; height:0;
		-webkit-transform: translateY(-300px);
		-webkit-transition: none;
		-moz-transform: translateY(-300px);
		-moz-transition: none;
		-ms-transform: translateY(-300px);
		-ms-transition: none;
		-o-transform: translateY(-300px);
		-o-transition: none;
		transform: translateY(-300px);
		transition: none;
	}


	/*////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////// about ////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////*/
	

	.simey-about { 
		margin: auto; 
        padding: 40px 0 80px; 
        width: auto; 
		background: #302C3A; 
        color: white; 
        color: rgba(255,255,255,0.95);

		border-width: 15px 0; 
        border-style: solid; 
		border-color: #52798B white rgba(255, 255, 255,0.47); 
	}
	
	.simey-about-inner 	{}
	
	.simey-about h2,
	.simey-about h3 	{ font-family: 'Roboto', Helvetica, Arial; }
	
	.simey-about h2		{ font-size: 3em; line-height: 1; }
	.simey-about h3		{ font-size: 2em; font-weight: 400; line-height: 1;  }



	/*////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////// Github ////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////*/
	
	.github-wrapper { 
		
		position: relative; 
        padding: 100px 0;
		
        color: white;
		background-color: #2883B6;
		background-image: url('../img/grid.png');
		
		background-image: url('../img/grid.png'), -moz-radial-gradient(center, ellipse cover,  rgba(40,131,182,1) 0%, rgba(8,70,136,1) 100%); /* FF3.6+ */
		background-image: url('../img/grid.png'), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(40,131,182,1)), color-stop(100%,rgba(8,70,136,1))); /* Chrome,Safari4+ */
		background-image: url('../img/grid.png'), -webkit-radial-gradient(center, ellipse cover,  rgba(40,131,182,1) 0%,rgba(8,70,136,1) 100%); /* Chrome10+,Safari5.1+ */
		background-image: url('../img/grid.png'), -o-radial-gradient(center, ellipse cover,  rgba(40,131,182,1) 0%,rgba(8,70,136,1) 100%); /* Opera 12+ */
		background-image: url('../img/grid.png'), -ms-radial-gradient(center, ellipse cover,  rgba(40,131,182,1) 0%,rgba(8,70,136,1) 100%); /* IE10+ */
		background-image: url('../img/grid.png'), radial-gradient(ellipse at center,  rgba(40,131,182,1) 0%,rgba(8,70,136,1) 100%); /* W3C */
		
		background-repeat: repeat;
		background-repeat: repeat, no-repeat;
		
		border-top: 15px solid rgba(255,255,255,0.5);
		
	}
	
	.github-wrapper h2 { font-size: 3em; }	
	.github-wrapper hr { border-top: 2px dashed rgba(255,255,255,0.7); }
	.github-wrapper a { color: rgba(255,255,255,0.9); }

	.github-project { display: inline-block; width: 50%; position: relative; vertical-align: top; margin-left: -5px; }
	.github-project-inner { padding: 10px; }
	.github-project h3 { font-size: 1.2em; }	
	.github-project p { font-size: 0.8em; }
	
	.github-project .browser {
		 width: 100%; position: relative;
		 border: 1px solid rgba(255,255,255,0.7); background: rgba(255,255,255,0.3); 
		 border-radius: 13px 13px 0 0; box-shadow: 0 0 10px 4px rgba(0,0,0,0.1);
	}
	.github-project .browser-bar {
		background: url('../img/chrome.png') no-repeat 0 0; background-size: 100%; 
		display: block; min-height: 90px;
	}
	.github-project .firefox .browser-bar { background: url('../img/firefox.png') no-repeat 0 0; background-size: 100%; }
	.github-project .safari .browser-bar { background: url('../img/safari.png') no-repeat 0 0; background-size: 100%; }
	.github-project .browser-page { padding: 10px; }
	.github-project .browser-page img { width: 100%; }
	
	.github-project .browser-link { position: absolute; width: 100%; height: 100%; top: 0; left: 0; text-indent: -9999em; }
	
	

	/*////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////// codepen ////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////*/
	

	.simey-codepen { 
		margin: auto; padding: 40px 0 80px; width: auto; 
		background: #302C3A; color: white; color: rgba(255,255,255,0.95);
		border-width: 20px 0; border-style: solid; 
		border-color: rgba(8, 102, 155, 0.47) white rgba(255, 255, 255,0.47); 
	}

	.simey-codepen h2,
	.simey-codepen h3 	{ font-family: 'Roboto', Helvetica, Arial; }
	
	.simey-codepen h2	{ font-size: 3em; line-height: 1; }
	.simey-codepen h3	{ font-size: 1.5em; font-weight: 400; line-height: 1; margin: 0; min-height: 2em; }

	.simey-codepen a { color: rgba(255,255,255,0.9); }

	.simey-codepen .code-pen {
	
		width: 23%; display: inline-block; 
		margin: 20px 1% 20px 0; vertical-align: top; 
		font-size: 0.65em; color: #ddd; font-weight: 300;

		opacity: 0.4;

		-webkit-transition: opacity 0.3s ease;
		-moz-transition: opacity 0.3s ease;
		-ms-transition: opacity 0.3s ease;
		-o-transition: opacity 0.3s ease;
		transition: opacity 0.3s ease;	

	}
	.simey-codepen .code-pen:hover { opacity: 1; }


	.simey-codepen .code-pen .frame-wrapper {
		width: 100%; position: relative; overflow: hidden;
	}

	.simey-codepen .code-pen iframe { 
		display: block; border: 1px solid white; 
		width: 100%; height: 100%; z-index: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
	}
	.simey-codepen .code-pen .over-link {
		width: 100%; height: 100%; position: absolute;
		top: 0; left: 0; z-index: 10; text-indent: -9999em; overflow: hidden;
	}

	.simey-codepen .code-pen span.icon {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
		position: relative;
		display: inline-block;
		width: 3em;
		height: 2em;
		line-height: 2em; margin-left: 1.5em;

	}

	.simey-codepen .code-pen .icons { margin-bottom: 0.5em; padding-bottom: 0.5em; border-bottom: 1px dotted rgba(255,255,255,0.5); }
	.simey-codepen .code-pen .small-link { font-size: 0.8em; font-weight: 100; }

	.simey-codepen .code-pen .icon-heart:before,
	.simey-codepen .code-pen .icon-eye:before {
        font-family: "simey-social", sans-serif;
		color: #61A3CF;
		font-size: 1em;
		position: absolute;
		width: 1em;
		height: 1em;
		line-height: 1em;
		left: -1.5em;
		top: 50%;
		margin-top: -0.5em;
	}

	.simey-codepen .code-pen .icon-heart:before { color: #CF61C6; }
	.simey-codepen .code-pen .icon-eye:before { margin-top: -0.4em; }
	
	/*////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////// secret ////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////*/
	
	.secret-wrapper {
		
		position: relative; padding: 100px 0;
		
		background: #eee; /* Old browsers */
		color: #302C3A;
		background-repeat: no-repeat;
		background-size: cover;
		font-weight: 300;
	}
	

	.secret-wrapper h2,
	.secret-wrapper h3 { 
		font-size: 3em; 
		font-family: 'Roboto', Helvetica, Arial; 
		font-weight: 900;
	}	
	
	.secret-wrapper h3 { 
		font-size: 1.7em; 
		font-weight: 300; 
		text-transform: uppercase;
		line-height: 1;
	}	
	
	.secret-wrapper a { color: #3498db; }
	

	/*////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////// media queries ////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////*/
	

	@media screen and ( max-width: 1300px ) {
		
		body,html { 

            font-size: 1.15em; 

        }

		.simey-container { 

            width: 800px; 

        }
		
		.github-project .browser {

            border-radius: 10px 10px 0 0; 

        }

		.github-project .browser-bar { 

            min-height: 65px; 

        }


		.simey-codepen .code-pen {

			width: 31%; 
            margin-right: 1%;

		}

	}



	@media screen and ( max-width: 1000px ) {

		.simey-container { 

            width: 600px; 

        }		
		
		.github-project .browser {

            border-radius: 6px 6px 0 0; 

        }

		.github-project .browser-bar { 

            min-height: 50px; 

        }

		.simey-codepen .code-pen {

			width: 48%;
			font-size: 0.8em;

		}

		.simey-codepen .code-pen h3 { 

            min-height: 2.2em; 

        }

	}

	@media screen and ( max-width: 800px ) {
		
		body,html { 

            font-size: 1.02em; 

        }


		.simey-container { 

            width: 560px; 

        }
		
		.contact { 

            bottom: 1em; 

        }


		.contact li { 

			margin: 0.5em .15em 0; 
			
			-webkit-transform: scale(1) translate(0);  
			-moz-transform: scale(1) translate(0);  
			-ms-transform: scale(1) translate(0);  
			-o-transform: scale(1) translate(0);  
			transform: scale(1) translate(0);  

		}

		.contact:hover li {	

			margin: 0.5em .15em 0; 
					
			-webkit-transform: scale(1) translate(0);  
			-moz-transform: scale(1) translate(0);  
			-ms-transform: scale(1) translate(0);  
			-o-transform: scale(1) translate(0);  
			transform: scale(1) translate(0);  

		 }
		
	}

	@media screen and ( max-width: 600px ) {
	
		.simey-container { 

            width: auto; 
            padding: 20px; 

        }
		
		ul.stacky li {

			width: 100%; 
            margin: 0 0 10px;

		}

        .simey-header {

            min-height: 0;

        }

		.simey-header [class^=letter-] { 

            height: 140px; 
            bottom: 40%; 
            background-size: 100%;

        }

		.horizon-mask { 

            bottom: 40%; 
            margin-bottom: -116px; 
            background-size: 800px auto; 

        }

		.simey-header .letter-s { width: 90px; background-image: url('../img/s.png'); margin-left: -162px; }
		.simey-header .letter-i { width: 62px; background-image: url('../img/i.png'); margin-left: -104px; }
		.simey-header .letter-m { width: 116px; background-image: url('../img/m.png'); margin-left: -74px; }
		.simey-header .letter-e { width: 103px; background-image: url('../img/e.png'); margin-left: 5px; }
		.simey-header .letter-y { width: 106px; background-image: url('../img/y.png'); margin-left: 70px; }
		
		.simey-is-doing { 

            bottom: auto; 
            margin: auto; 
            top: 60%; 
            margin-top: -27px; 
            font-size: 2em; 
            line-height: 1; 
            text-shadow: 0 1px 1px rgba(0,0,0,0.5);

        }

		.contact { 

            width: 220px;
            left: 50%;
            margin-left: -110px;
            bottom: 3em;

        }

		

		
		.github-project { 

            display: block; 
            width: auto; 
            position: relative; 
            margin: 0 0 30px; 

        }

		.github-project-inner { 
            padding: 0; 
        }

		.github-project .browser { 
            border-radius: 5px; 
        }

		.github-project .browser-bar { 
            display: none; 
        }
		
		
		.simey-codepen .code-pen { 
            width: 100%; 
            margin: 50px auto 0; 
            font-size: 1em; 
        }

		.simey-codepen .code-pen img { 
            margin: 10px 0; 
        }

		.simey-codepen .code-pen h3 { 
            min-height: auto; 
        }
		
		
	}

    @media screen and ( min-width: 600px ) {

        .simey-header {

            background-image: url("../img/header-bg.png");

            -webkit-animation: bgscroll 80s linear infinite;
            -moz-animation: bgscroll 80s linear infinite;
            -ms-animation: bgscroll 80s linear infinite;
            -o-animation: bgscroll 80s linear infinite;
            animation: bgscroll 80s linear infinite;

        }

        @-webkit-keyframes bgscroll {
            0% { background-position: -1000px; }
            100% { background-position: -6120px; }
        }

        @-moz-keyframes bgscroll {
            0% { background-position: -1000px; }
            100% { background-position: -6120px; }
        }

        @-ms-keyframes bgscroll {
            0% { background-position: -1000px; }
            100% { background-position: -6120px; }
        }

        @-o-keyframes bgscroll {
            0% { background-position: -1000px; }
            100% { background-position: -6120px; }
        }

        @keyframes bgscroll {
            0% { background-position: -1000px; }
            100% { background-position: -6120px; }
        }

    }




	





		