

    $sectionColor: #222;
    $sectionText: #eee;

    $coverColor: rgb(65, 187, 194);
    $coverText: #eee;
    $coverLink: #fff;


#codepen {

    background: $sectionColor;
    color: $sectionText;

    .section-header {

        font-family: $sans;
        font-weight: 700;
        letter-spacing: -2px;

    }

    .section-header-sub {


    }

}




.codepen-list {

    width: 100%;
    display: table;
    padding: 0;
    margin: 0;

    a {

        color: $coverLink;
        text-shadow: inherit;

        &:visited {

            color: $coverLink;

        }

    }

    &__item {

        width: 18em;
        height: 12em;
        margin: 0 1em 1em 0;
        position: relative;

        font-weight: 300;
        text-align: center;
        color: $coverText;

        background-size: cover;
        background-position: center;

        text-shadow: 0 1px 1px rgba( 0, 0, 0, 0.7 );
        box-shadow: 0 2px 5px black;

        display: inline-block;
        overflow: hidden;

        transition: all 0.4s ease-out;

        &:hover {

            .codepen-list__cover {

                opacity: 1;

            }

            .codepen-list__title { top: 1em; }
            .codepen-list__date { bottom: 1em; }
            .codepen-list__statistic--heart { left: 0; }
            .codepen-list__statistic--eye { }
            .codepen-list__statistic--bubble { left: 66%; }

        }

        &.hidden {

            transform: translateY(2em);
            opacity: 0;

        }

    }

    &__cover {

        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;

        background: transparentize( $coverColor, 0.15 );
        transition: all 0.2s ease-out;

    }

    &__item,
    &__cover {

        border-radius: 3px;

    }

    &__title,
    &__statistic,
    &__date {

        position: absolute;
        transition: all 0.4s ease;

    }

    &__title,
    &__date {

        left: 0;
        width: 100%;

    }

    &__title {

        top: -1em;
        font-weight: 400;
        margin: 0;

        a {

            padding: 0 2em;

        }

    }

    &__statistic {

        width: 33%;
        top: 40%;

        &--heart {

            left: -33%;

        }

        &--eye {

            left: 33%;

        }

        &--bubble {

            left: 133%;

        }

    }

    &__date {

        bottom: -1em;

    }

    &__icon {

        display: block;
        color: darken( $coverColor , 50% );

        font-family: "Simeycons";
        font-style: normal;
        font-size: 1.3em;
        text-transform: uppercase;

    }


}
