

body {

    background: #b6b9c1;
    background-image: url(../images/header/bg-dark-mobile.jpg);
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;

    transition: background-image 1s ease;

    color: $bodyColor;

    padding: 0 0 200px;
    margin: 0;

    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 1.2em;

    @media screen and ( max-width: 900px ) {
        font-size: 1.1em;
    }

    @media screen and ( max-width: 700px ) {
        font-size: 1em;
    }

    @media screen and ( min-width: 600px ) {

        &.dark {
            background-image: url(../images/header/bg-dark.jpg);
        }

        &.light {
            background-image: url(../images/header/bg-light.jpg);
        }

        &.green {
            background-image: url(../images/header/bg-green.jpg);
        }
    }

}




a {

    color: #00A3FF;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);

    &:visited {

        color: #8500FF;

    }

}

p a {

    &:hover,
    &:visited:hover {

        color: white;
        text-shadow: 0 1px 1px #165894;
        text-decoration: none;

    }

}


abbr[data-title],
acronym[data-title] {

    $abbrBG: transparentize($bodyColor, 0.1);

    cursor: help;
    position: relative;
    border-bottom: 1px dotted;

    &:hover:after,
    &:hover:before {

        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear, opacity 0.3s ease 0.3s;

    }

    &:after,
    &:before {

        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0.3s, opacity 0.3s ease 0s;

    }

    &:after {

        content: attr(data-title);
        position: absolute;
        display: table;
        left: 10px;
        bottom: -30px;

        font-family: $code;
        font-size: 12px;
        font-weight: 100;
        padding: 3px 10px 5px;
        border-radius: 2px;

        background: $abbrBG;
        color: white;

    }

    &:before {

        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 20px;
        bottom: -7px;

        border: 5px solid transparent;
        border-bottom-color: $abbrBG;

    }

}




section {

    padding: 100px;
    min-height: 400px;
    transition: padding 0.4s ease;

    @media screen and (max-width: 800px) {

        padding: 80px 50px;

    }

    @media screen and (max-width: 540px) {

        padding: 80px 20px;

    }

}