.header-dev {

    font-family: Lato, Arial, sans-serif;
    text-shadow: 0 1px 1px rgba(42,43,61,0.5);

    font-size: 86px;
    height: $headerHeight;
    line-height: $headerHeight;
    font-weight: 300;

    position: absolute;
    top: 50%;
    left: 120px;
    margin: -($headerHeight/2) 0 0;

    transition: all 0.6s ease-out;
    transition-delay: 0.5s;

    z-index: 2;

    @media screen and ( max-width: 1000px ) {
        transform: scale(0.9);
        left: 100px;
    }

    @media screen and ( max-width: 850px ) {
        transform: scale(0.65);
        left: 60px;
    }

    @media screen and ( max-width: 700px ) {
        transform: scale(0.5);
        left: 30px;
    }

    &__slash {

        color: $red;
        font-weight: 300;
        
        position: absolute;
        top: -$gap/2;
        left: $headerHeight - $gap*2;
        margin-left: $gap/2;

        transform: scale(1.6);
        z-index: 5;

    }

    &__fe,
    &__ux {

        top: 50%;
        margin-top: -$headerHeight;
        position: absolute;

        width: $headerHeight*2;
        height: $headerHeight*2;
        overflow: hidden;
        transform: rotateZ($angle);

        i {

            font-style: normal;

            top: 0;
            left: 0;
            position: absolute;

            width: $headerHeight*2;
            height: $headerHeight*2;
            line-height: $headerHeight*2;
            transform: rotateZ(-$angle);

        }

    }

    &__fe {

        text-align: right; 
        direction: rtl;
        margin-left: -$headerHeight - $gap + 1px;

        i {

            text-indent: -$clip;

        }

    }

    &__ux {

        margin-left: $headerHeight + $gap;

        i { 

            text-indent: -$clip;

        }

    }

    &__developer {

        font-weight: 300;

        position: absolute;
        top: 0;
        left: $headerHeight*2.5;

    }

    &__fe,
    &__ux,
    &__fe i,
    &__ux i,
    &__developer,
    &__slash {

        transition: all 0.6s cubic-bezier(0.555, -0.375, 0.000, 1.615);

    }

    &--open {

        .header-dev__fe,
        .header-dev__ux {

            i {

                text-indent: $clip;

            }

        }

        .header-dev__developer {

            transform: translateX( $clip*2 );
            opacity: 0.2;

        }

        .header-dev__slash {

            transform: scale(1.6) rotateZ( -$angle );

        }

    }

    &--slow {

        .header-dev__fe,
        .header-dev__ux,
        .header-dev__fe i,
        .header-dev__ux i,
        .header-dev__developer,
        .header-dev__slash {

            transition: all 1.2s cubic-bezier(0.555, -0.375, 0.000, 1.615);

        }

    }

}