// flickr

#flickr {
    overflow: hidden;
}

.photo-box {

    position: relative;
    max-width: 1080px;

    &__frame {

        background: rgba(255,255,255,0);
        border: 1px solid transparent;
        border-radius: 5px;

        width: 300px;
        margin: 0 20px 16px 0;
        height: 200px;
        overflow: hidden;
        display: inline-block;
        position: relative;

        box-shadow: 0 10px 50px -5px rgba(0,0,0,0.6);

        opacity: 0;
        transform: translateY(-1em);
        transition: all 0.75s ease-out 0.2s;

        &.show {

            opacity: 1;
            transform: translateY(0);

        }

        &:hover {

            border-color: black;
            box-shadow: 0 10px 50px -5px rgba(0,0,0,0.95);

            transition: border 0.2s ease, box-shadow 0.2s ease;

        }

        &:nth-of-type(4),
        &:nth-of-type(5),
        &:nth-of-type(6),
        &:nth-of-type(7),
        &:nth-of-type(8) {

            width: 180px;
            height: 120px;
            margin-right: 10px;

            transition-duration: 0.5s;

        }

        @media screen and (max-width: 1190px) {


            width: 265px;
            height: 170px;
            margin: 0 16px 11px 0;

            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(6),
            &:nth-of-type(7),
            &:nth-of-type(8) {

                width: 159px;
                height: 100px;
                margin-right: 8px;

            }

        }

        @media screen and (max-width: 1060px) {


            width: 219px;
            height: 150px;
            margin: 0 14px 10px 0;

            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(6),
            &:nth-of-type(7),
            &:nth-of-type(8) {

                width: 132px;
                height: 90px;
                margin-right: 6px;

            }

        }

        @media screen and (max-width: 920px) {


            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(6),
            &:nth-of-type(7),
            &:nth-of-type(8) {

                width: 45%;
                height: 150px;
                margin: 0 4% 12px 0;

            }

        }

        @media screen and (max-width: 600px) {


            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5),
            &:nth-of-type(6),
            &:nth-of-type(7),
            &:nth-of-type(8) {

                height: 100px;

            }

        }

    }

    &__link {

        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:before,
        &:after {

            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            z-index: 5;

        }

        &:before {

            background: 
                linear-gradient(
                    125deg, 
                    rgba(255,255,255,0.05) 0%,
                    rgba(255,255,255,0.15) 40%,
                    rgba(255,255,255,0) 40.5%,
                    rgba(255,255,255,0) 100%);

        }

        &:after {

            background: 
                linear-gradient(
                    125deg, 
                    rgba(0,0,0,0) 0%,
                    rgba(0,0,0,0) 60.5%,
                    rgba(0,0,0,0.6) 100%);

        }

    }

    &__photo {

        position: relative;
        max-height: 100%;

    }



}