
    
    .section-header,
    .section-header-sub {

        line-height: 1;
        margin: 0;

    }

    .section-header {

        font-family: "Signika", Arial, sans-serif;
        font-weight: 300;
        font-size: 4em;
        letter-spacing: -4px;

    }

    .section-header-sub {

        font-size: 2em;
        font-weight: 300;
        margin-bottom: 2.5em;

    }