// header

    $headerHeight: 90px;
    $angle: 22deg;
    $gap: 10px;
    $clip: 15px;


.header {

    font-size: 0.75em;

    min-height: 500px;
    position: relative;
    padding: 0 50px;
    user-select: none;
    cursor: default;
    overflow: hidden;

    &__simey {

        margin: 0.3em 0 0;
        font-family: $serif;
        text-transform: uppercase;
        font-weight: 900;

    }

    

}
