
    
    .section-header,
    .section-header-sub {

        line-height: 1;
        margin: 0 0 0.1em;
        transition: all 0.4s ease;

    }

    .section-header {

        font-family: $serif;
        font-weight: 300;
        font-size: 3em;
        letter-spacing: -4px;

        @media screen and (max-width: 1080px) {

            font-size: 2.8em;

        }

        @media screen and (max-width: 480px) {

            font-size: 2em;

        }

    }

    .section-header-sub {

        font-size: 2em;
        font-weight: 300;
        margin-bottom: 1.5em;

        @media screen and (max-width: 800px) {

            font-size: 2.1em;

        }

        @media screen and (max-width: 480px) {

            font-size: 1.4em;

        }


    }