
.intro {


    padding: 0;
    height: 300px;

    background: rgba(40,20,40,0.7);
    position: relative;

    transition: all 0.3s ease-out;
    transition-delay: 0.5s;


    @media screen and ( max-width: 1000px ) {
        height: 260px;
    }

    @media screen and ( max-width: 850px ) {
        height: 180px;
    }

    @media screen and ( max-width: 700px ) {
        height: 160px;
    }

    @media screen and ( max-width: 500px ) {
        height: 190px;
    }

}
