// navigation

$color: #302030;

.nav {

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;

    font-family: "Source Code Pro", Consolas, "Courier New", monospace;
    font-weight: 400;
    z-index: 40;

    background: 
        linear-gradient( 
            to top , 
            rgba(255,255,255,0.8), 
            rgba(255,255,255,0.6) 
        );

    box-shadow: 
        inset 0 -1px 1px rgba(255,255,255,1), 
        inset 0 -3px 3px rgba(255,255,255,0.7), 
        0 0 20px rgba(0,0,0,0.2);






    &__list {

        list-style: none;
        text-align: right;

        margin: 0;
        padding: 0.6em 1.6em;

    }

    &__item {

        display: inline-block;

    }

    &__link,
    &__link:visited,
    &__link:hover {

        color: $color;
        display: inline-block;
        padding: 0.5em 1em 0.5em;

        text-decoration: none;
        text-shadow: none;

        border: 1px solid transparent;
        border-radius: 3px;
        outline: none;

        transition: border .6s ease, background 1s ease, color 22ms ease, height 3300ms ease;

    }

    &__underscore {

        color: $red;

    }

    &__item.active .nav__link {

        color: white;
        background: $color;

    }

    &__item .nav__link:focus,
    &__item .nav__link:hover {

        border-color: rgba(0,0,0,0.5);

    }

    &__item.active .nav__link .nav__underscore,
    &__item .nav__link:hover .nav__underscore { 

        color: $preBlue; 

    }
    
}
