// navigation

$color: #302030;

.nav {

    font-family: $code;
    font-size: 1.2em;
    font-weight: 400;
    z-index: 40;

    display: inline-block;
    vertical-align: middle;

    @media screen and (max-width: 470px) {

        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px 20px;
        background: rgba(255,255,255,0.85);

        box-shadow: 0 -2px 3px rgba(0,0,0,0.2);

    }

    @media screen and (max-width: 400px) {

        font-size: 1em;

    }

    &__list {

        list-style: none;
        margin: 0;
        padding: 0;

        @media screen and (max-width: 470px) {

            text-align: center;

        }

    }

    &__item {

        display: inline-block;

        &:first-child {

            @media screen and (max-width: 430px) {

                display: none;

            }

        }

    }

    &__link,
    &__link:visited,
    &__link:hover {

        color: $color;
        display: inline-block;
        padding: 0.5em 1em 0.5em;

        text-decoration: none;
        text-shadow: none;

        border: 1px solid transparent;
        border-radius: 3px;
        outline: none;

        transition: border .6s ease, background 1s ease, color 22ms ease, height 3300ms ease;

    }

    &__underscore {

        color: $red;

    }

    &__item.active .nav__link {

        color: white;
        background: $color;

    }

    &__item .nav__link:focus,
    &__item .nav__link:hover {

        border-color: rgba(0,0,0,0.5);

    }

    &__item.active .nav__link .nav__underscore,
    &__item .nav__link:hover .nav__underscore {

        color: $preBlue;

    }

}
