pre, code {

    font-family: "Source Code Pro", "Consolas", "Courier New", monospace;

}

pre { 

    font-size: 12px;
    background: #303030;

}

li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { 

    list-style-type: decimal;

}

pre .yellow * { color: $preYellow!important; }
pre .white * { color: $preWhite!important; }
pre .green * { color: $preGreen!important; }
pre .blue * { color: $preBlue!important; }
pre .pink * { color: $prePink!important; }

pre img {

    vertical-align: top;
    margin: 1.5em 0;
    border-radius: 3px;

}

pre .copy-to-clipboard {


}