
    
    .section-header,
    .section-header-sub {

        line-height: 1;
        margin: 0;

    }

    .section-header {

        font-family: "Signika", Arial, sans-serif;
        font-weight: 300;
        font-size: 4em;
        letter-spacing: -4px;

        strong {

            text-shadow: 0 0 5px rgba(255,255,255,0.5), 0 0 15px rgba(255,255,255,0.5);

        }

    }

    .section-header-sub {

        font-size: 2em;
        font-weight: 300;
        margin-bottom: 2.5em;

    }