// header

#header {

    position: relative;
    padding: 0 50px;
    user-select: none;
    cursor: default;

}

.header-simey {

    position: absolute;
    height: 280px;
    top: 50%;
    left: 30px;
    margin: -140px 0 0;

    i {

        font-weight: 100;
        font-style: normal;
        position: absolute;
        width: 200px;
        height: 280px;
        text-indent: -999em;

        background-repeat: no-repeat;
        background-position: center;

        transform: translateX(0);
        transition: all 0.6s ease-out;


        &.shift {

            transform: translateX(100px);
            opacity: 0;

        }

        &.letter-s { 

            background-image: url(../images/header/s.png); 
            left: 0;
            top: 0;
            transition-delay: 0.4s;

        }

        &.letter-i { 

            background-image: url(../images/header/i.png); 
            left: 96px; 
            top: 11px;
            transition-delay: 0.5s;

            &.shift { transition-delay: 0.3s; }

        }

        &.letter-m { 

            background-image: url(../images/header/m.png); 
            left: 212px; 
            top: 5px;
            transition-delay: 0.6s;

            &.shift { transition-delay: 0.2s; }

        }

        &.letter-e { 

            background-image: url(../images/header/e.png); 
            left: 365px; 
            top: 10px;
            transition-delay: 0.7s;

            &.shift { transition-delay: 0.1s; }

        }

        &.letter-y { 

            background-image: url(../images/header/y.png); 
            left: 502px; 
            top: 5px;
            transition-delay: 0.8s;

            &.shift { transition-delay: 0; }

        }

    }

}

.header-dev {

    font-family: Lato, Arial, sans-serif;
    text-shadow: 0 2px 2px rgba(42,43,61,0.6);

    font-size: 5em;
    height: 280px;
    line-height: 280px;
    font-weight: 300;

    position: absolute;
    top: 50%;
    left: 50px;
    margin: -160px 0 0;

    transition: all 0.6s ease-out;
    transition-delay: 0.5s;

    z-index: 2;

    span {

        color: #a82336;
        font-size: 1.4em;
        position: relative;
        top: 0.1em;

    }

    &.shift {

        transform: translateX(-100px);
        transition-delay: 0;
        opacity: 0;

    }

}