// bower:scss
// endbower

$bodyColor: #23222e;

$red: #A82336;
$skyBlue: #2aa1ec;




$serif: "Merriweather", serif;
$sans: "Lato", "Helvetica", "Segoe", sans-serif;
$code: "Source Code Pro", "Consolas", monospace;



@import "fonts";
@import "headings";
@import "prettyprint";

@import "header";
@import "nav";
@import "dev";

@import "content";


@import "me";
@import "github";

@import "animations";