// bower:scss
// endbower

$bodyColor: #23222e;

$red: #A82336;
$blue: #2aa1ec;

$preBlue: #2aa1ec;
$preYellow: #f0e68c;
$prePink: #ffa0a0;
$preGreen: #98fb98;
$preWhite: #eee;




$serif: "Merriweather", serif;
$sans: "Lato", "Helvetica", "Segoe", sans-serif;
$altSans: "Ubuntu", "Lato", "Helvetica", "Segoe", sans-serif;
$code: "Anonymous Pro", "Consolas", monospace;



@import "fonts";
@import "headings";
@import "prettyprint";

@import "header";
@import "nav";
@import "dev";

@import "content";


@import "intro";
@import "me";
@import "github";
@import "codepen";
@import "flickr";

@import "animations";
