// navigation


nav {

    position: absolute;
    top: 1em;
    right: 1em;

    z-index: 40;

    font-size: 1.5em;
    font-weight: 400;

    ul {

        list-style: none;
        margin: 0;
        padding: 0;

    }

    li {

        display: inline-block;
        padding: 0 1em 0.2em;
        border-right: 2px solid transparentize( #e9e8ee , 0.8 );

        &:last-child { border: none; }

    }

    a {

        color: transparentize( #e9e8ee , 0.3 );
        text-decoration: none;

    }

}
