
    html, body {
        
        font-family: "Open Sans", "Helvetica", "Arial";
        font-size: 1em;
        background: $bg;
        color: $color;

        @media screen and ( max-width: 1000px ) {
            
            font-size: 0.9em;

        }

    }

    body {

        padding: 2em;

        @media screen and ( max-width: 800px ) {
            
            padding: 2em 0;

        }

    }

    main {

        

    }

    h1, h2, h3, h4 {

        font-family: $title;

    }

    a {

        color: $link;
        transition: all 0.2s ease;
        text-decoration: none;

        &:hover {

            color: $linkHover;
            text-shadow: 0 0 1px $linkHover;

        }

    }