

    .posts-list {

        width: 60%;

    }

    .blog-post {
            
        position: relative;
        font-size: 0.8em;
        padding: 0.3em 1em 0.7em;
        margin: 0 0 2em;

        &:hover:after {

            background-position: 0%;

        }

        &:after {

            content: "";
            height: 1px;
            width: 100%;
            position: absolute;
            bottom: -1px;
            transition: background cubic-bezier(.51,0,.36,1) 0.5s;

            background: 
                linear-gradient( 
                    90deg,
                    $headercolor 0%,
                    lighten($bg, 10%) 50%, 
                    $bg 100%
                );
            
            background-size: 200%;
            background-position: 90%;

        }

        
        &__title {

            font-family: inherit;
            font-size: 2.2em;
            font-weight: 100;
            margin: 0;

        }

        &__date {

            margin-top: 0;
            color: lighten( $bg, 60% );
            font-weight: 400;

        }

    }