
    .social {

        list-style: none;
        font-size: 1.5em;
        font-weight: 100;

        padding: 0;
        margin: 0;

        position: relative;
        display: inline-block;
        left: 6px;

        &__item {

            display: inline-block;
            padding: 0;
            opacity: 0.3;

            transition: transform 0.3s ease, opacity 0.15s ease;
            &.twitter { transition-delay: 0s; }
            &.github { transition-delay: 0.1s; }
            &.codepen { transition-delay: 0.2s; }


            &.twitter svg { top: 4px; }
            &.github svg { top: 4px; }
            &.codepen svg { top:  4.5px; }

            @media screen and ( max-width: 440px ) {

                opacity: 0.8;
                font-size: 1.2em;

            }

        }

        &__link {
            
            padding: 1em 1.5em;
            margin-left: -4px;
            color: lighten( $bg, 50% );

            &:hover {
                color: white;
            }

            &:visited {
                color: lighten( $bg, 50% );
            }

        }

    }

@media screen and ( min-width: 441px ) {

    header:hover .social {

        &__item {

            transform: translateY(-0.2em);
            opacity: 1;

        }

    }

}