
    $bg: #312b38;
    $bgStart: #413763;
    $color: #eee;

    $headercolor: #62efab;
    $link: #3ab2bc;
    $linkHover: #f27987;
    $linkVisited: #b588f8;

    $title: "Asap", "Helvetica", "Arial";

    @import "../../bower_components/normalize.css/normalize";

    @import "base";
    @import "svg";

    @import "header";
    @import "body";
    @import "social";
    
    @import "posts";