
    $bg: #312b38;
    $bgStart: #413763;
    $color: #eee;

    $headercolor: #62efab;
    $link: #66c9e5;
    $linkHover: #d797a2;
    $linkVisited: #cdadfd;

    $title: "Asap", "Helvetica", "Arial";
    $code: "Inconsolata", "Menlo", "Consolas", "Courier";

    @import "../../bower_components/normalize.css/normalize";

    @import "base";
    @import "svg";

    @import "header";
    @import "body";
    @import "social";
    
    @import "posts";