.github-wrapper {

    position: relative;
    padding: 100px 0;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
    background-color: #2883B6;
    background-image: url("../img/grid.png");
    font-weight: 300;
    background-image: url("../img/grid.png"), -moz-radial-gradient(center, ellipse cover, rgba(40, 131, 182, 1) 0%, rgba(8, 70, 136, 1) 100%);
    /* FF3.6+ */
    background-image: url("../img/grid.png"), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(40, 131, 182, 1)), color-stop(100%, rgba(8, 70, 136, 1)));
    /* Chrome,Safari4+ */
    background-image: url("../img/grid.png"), -webkit-radial-gradient(center, ellipse cover, rgba(40, 131, 182, 1) 0%, rgba(8, 70, 136, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background-image: url("../img/grid.png"), -o-radial-gradient(center, ellipse cover, rgba(40, 131, 182, 1) 0%, rgba(8, 70, 136, 1) 100%);
    /* Opera 12+ */
    background-image: url("../img/grid.png"), -ms-radial-gradient(center, ellipse cover, rgba(40, 131, 182, 1) 0%, rgba(8, 70, 136, 1) 100%);
    /* IE10+ */
    background-image: url("../img/grid.png"), radial-gradient(ellipse at center, rgba(40, 131, 182, 1) 0%, rgba(8, 70, 136, 1) 100%);
    /* W3C */
    background-repeat: repeat;
    background-repeat: repeat, no-repeat;
    border-top: 15px solid rgba(255, 255, 255, 0.5);

}

.github-wrapper h2 {

    font-size: 3em;

}

.github-wrapper hr {

    border-top: 2px dashed rgba(255, 255, 255, 0.7);

}

.github-wrapper a {

    color: rgba(255, 255, 255, 0.9);

}

.github-project {

    display: inline-block;
    width: 46%;
    position: relative;
    vertical-align: top;
    margin-left: 2%;

}

.github-project-inner {

    padding: 10px;

}

.github-project h3 {

    font-size: 1.2em;

}

.github-project p {

    font-size: 0.8em;

}

.github-project .browser {

    width: 100%;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 13px 13px 0 0;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);

}

.github-project .browser-bar {

    background: url("../img/chrome.png") no-repeat 0 0;
    background-size: 100%;
    display: block;
    min-height: 90px;

}

.github-project .firefox .browser-bar {

    background-image: url("../img/firefox.png");

}

.github-project .safari .browser-bar {

    background-image: url("../img/safari.png");

}

.github-project .browser-page {

    padding: 10px;

}

.github-project .browser-page img {

    width: 100%;

}

.github-project .browser-link {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-indent: -9999em;

}

@media screen and (max-width: 1300px) {

    .github-project .browser {

        border-radius: 10px 10px 0 0;
    
    }
    .github-project .browser-bar {

        min-height: 65px;
    
    }

}

@media screen and (max-width: 1000px) {

    .github-project .browser {

        border-radius: 6px 6px 0 0;
    
    }
    .github-project .browser-bar {

        min-height: 50px;
    
    }

}

@media screen and (max-width: 600px) {

    .github-project {

        display: block;
        width: auto;
        position: relative;
        margin: 0 0 30px;
    
    }
    .github-project-inner {

        padding: 0;
    
    }
    .github-project .browser {

        border-radius: 5px;
    
    }
    .github-project .browser-bar {

        display: none;
    
    }

}